.admin-container {
  display: flex;
  background-color: #f5f5f5;
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add-article {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.btn-add-article:hover {
  background-color: #45a049;
}

.icon {
  margin-right: 10px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.stat-item {
  background-color: #80ED99;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  width: 30%; /* Diminue la taille des cartes */
}

.stat-icon {
  font-size: 1.5rem; /* Réduis la taille des icônes */
  margin-bottom: 10px;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cartes un peu plus petites */
  gap: 20px;
}

.article-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.btn-delete {
  background-color: #e74c3c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.btn-delete:hover {
  background-color: #c0392b;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}
