.admin-container {
  display: flex;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-add-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.admin-add-btn svg {
  margin-right: 5px;
}

.admin-add-btn:hover {
  background-color: #218838;
}

.admin-recette-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-recette-table th, .admin-recette-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.admin-recette-image {
  width: 100px;
  border-radius: 8px;
}

.actions-section {
  display: flex;
  gap: 10px;
}

.action-icon {
  cursor: pointer;
  font-size: 18px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #22577A;
  background-color: white;
  cursor: pointer;
}

.pagination button.active {
  background-color: #22577A;
  color: white;
}

.pagination button:hover {
  background-color: #22577A;
  color: white;
}
