.demande-coaching-body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

.demande-coaching-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Limite la largeur maximale */
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px; /* Coins arrondis */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre plus marquée */
}

.demande-coaching-form-container {
  display: flex;
  flex-direction: column;
  width: 50%; /* Fixe la largeur */
}

.demande-coaching-title {
  font-size: 1.5em; /* Taille de police agrandie */
  color: #333;
  margin-bottom: 20px; /* Ajout d'un espacement */
  text-align: center; /* Centrer le titre */
}

.demande-coaching-label {
  font-weight: bold;
  margin-bottom: 5px; /* Espacement sous les étiquettes */
  color: #555; /* Couleur légèrement grise */
}

.demande-coaching-input,
.demande-coaching-textarea {
  width: 100%;
  padding: 12px; /* Plus d'espace à l'intérieur */
  margin-bottom: 15px; /* Espacement entre les champs */
  border: 1px solid #ccc;
  border-radius: 6px; /* Coins arrondis */
  transition: border-color 0.3s; /* Animation de transition */
}

.demande-coaching-input:focus,
.demande-coaching-textarea:focus {
  border-color: #28a745; /* Changer la couleur de la bordure au focus */
  outline: none; /* Supprime le contour par défaut */
}

.demande-coaching-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 20px; /* Augmentation du padding */
  border-radius: 6px; /* Coins arrondis */
  cursor: pointer;
  font-size: 1em; /* Taille de police */
  transition: background-color 0.3s; /* Animation de transition */
}

.demande-coaching-button:hover {
  background-color: #218838; /* Couleur plus foncée au survol */
}

.demande-coaching-popup-message {
  margin-top: 20px;
  color: green;
  text-align: center; /* Centre le message */
}

.demande-coaching-image-container {
  width: 45%; /* Ajuste la largeur */
  height: auto; /* Ajuste la hauteur */
}

.demande-coaching-image {
  width: 100%;
  border-radius: 8px;
  background-image: url(../../assets/images/demande-coaching.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  height: 100%; 
}
.back-button {
  background-color: transparent;
  border: none;
  color: #218838; 
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  text-decoration: underline; 
}
