.recette-liste {
    text-align: center; 
}

.banner {
    position: relative;
    background-color: #cce5ff; 
    padding: 20px 0; 
    background-image: url(../../assets/images/baniere-recettte.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search-bar {
    margin: 20px 0; 
    padding: 10px;
    width: 300px; 
    border-radius: 5px;
    border: 2px solid #80ED99;
}

.recette-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; 
}

.recette-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 400px;
    height: auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.recette-card:hover {
    transform: scale(1.02);
}

.recette-image {
    width: 100%; 
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.recette-card h2 {
    margin-top: 10px; 
    font-size: 1.5rem;
    color: #22577A;
}

.recette-card p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

.lire-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #22577A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.lire-btn:hover {
    background-color: #80ED99;
}


.likes-section {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.heart-icon {
    color: #80ED99;
    font-size: 24px;
    transition: transform 0.2s ease;
}

.heart-icon:hover {
    transform: scale(1.2);
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}