.recette-detail {
    padding: 20px;
}

.banner {
    background-image: url('../../assets/images/image-food.jpg'); 
    background-position: center;
    background-size: cover;
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: #cce5ff66; 
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cce5ff66; 
}

.banner-content {
    z-index: 1;
    color: white;
    text-align: center;
}

.ingredients-section {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.ingredients-list li {
    list-style-type: none;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}

.ingredients-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.4em;
    width: 15px;
    height: 15px;
    background-color: #80ED99; /* Larger green circles */
    border-radius: 50%;
}

.recette-detail img {
    width: 100%; 
    max-width: 1200px;
    margin: 20px auto;
    height: auto;
    display: block;
    border-radius: 8px;
}

.etapes-section,
.recette-info {
    display: inline-block;
    vertical-align: top;
    width: 48%; 
    padding: 20px;
}

.etapes-list {
    list-style: none;
}

.recette-info {
    background-color: #22577A;
    color: white;
    border-radius: 8px;
}
